node_modules
npm-debug.log
.env
.env.*.local
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.DS_Store
.editorconfig
.idea
.vscode
.phpunit.cache
storage/logs/*
storage/app/uploads/*
tests
bootstrap/cache/config.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
